:root {
  --text-color: #09090b;
  --bg-color: #f9f9f9;
  --hover-color: #ec4899;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f9f9f9;
    --bg-color: #09090b;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font: 16px/1.8 system-ui,sans-serif;
  margin: 0;
  text-align: center;
  padding-top: 20vh;
  transition: 0.5s;
}

a {
  color: var(--text-color);
  text-decoration-color: var(--hover-color);
  text-decoration-thickness: 2px;
  transition: 0.4s;
}

a:hover {
  background-color: var(--hover-color);
}